# Random Room Mate Generator
---

Myles said that there was a coding interview question that was given to him as a 1 week take-home project. In it, we are given a csv of Petty Patty's roommates and the duration of their tenancy. Our goal is to figure out each range of dates when Petty Patty had more than two roommates, and who they are. If Petty Patty had zero or one roommate during a date range, we ignore them.

---

In this notebook, we document the code we used to generate the data for the csv of roommates and their tenancies.

In [1]:
# importing libraries
import random
import datetime
import pandas as pd
import numpy as np

We create the range of dates that Petty Patty's roommates can be tenants for.

In [2]:
### dates of Petty Patty's room mates
# setting earliest and latest dates for data
start_date = datetime.datetime(2014, 1, 1, 0, 0)
end_date = datetime.datetime(2015, 1, 1, 0, 0)

We select the number of roommates we want Petty Patty to have had.

In [3]:
# number of roommates we want
num_of_roommates = 25

We create a DataFrame of the start times and end times of the tenancies of Petty Patty's roommates.

In [4]:
# empty pandas dictionary
df_dates = pd.DataFrame({'start_time' : [], 'end_time' : []})

# generating a list of random dates between the date ranges
for date in range(num_of_roommates):
    
    random_date_1 = start_date + \
        (end_date - start_date) * random.random() # first random date
        
    random_date_2 = random_date_1 + \
        (end_date - random_date_1) * random.random() / 5 # second random date after first random date
    
    df_date = pd.DataFrame({'start_time' : [random_date_1],
                            'end_time' : [random_date_2]}) # row of start and end dates
    
    df_date.index = [date] # setting index of room mate
    
    df_dates = df_dates.append(df_date) # adding room mate to general list

df_dates.head()

                  start_time                   end_time
0 2014-06-16 05:59:18.124965 2014-07-23 06:11:46.682402
1 2014-10-22 15:54:46.847032 2014-10-30 02:44:23.908393
2 2014-01-30 21:28:40.418063 2014-03-26 18:53:49.595775
3 2014-02-16 21:02:42.584248 2014-02-25 02:29:42.152930
4 2014-10-18 22:29:18.873309 2014-10-23 10:50:54.639351

We import a list of names for Petty Patty's roommates.

In [5]:
### names of Petty Patty's room mates
# github name data
url = 'https://raw.githubusercontent.com/hadley/data-baby-names/master/baby-names.csv'

# importing names
df_names = pd.read_csv(url)['name']

df_names.head()

0       John
1    William
2      James
3    Charles
4     George
Name: name, dtype: object

We create an array of the names of Petty Patty's roommates.

In [6]:
# empty roommate array
roommates = np.array([])

# attach a random name as an index
for index_name in range(num_of_roommates):
    
    index_random = random.randint(0, len(df_names) - 1) # picking a random index from list of names
    
    name_of_roommate = df_names.iloc[index_random] # using index to grab a roommate name
    
    roommates = np.append(roommates, name_of_roommate) # creating an array of roommate names

roommates

array(['Francis', 'Diego', 'Ruth', 'Garfield', 'Olga', 'Almeda', 'Bert',
       'Alysia', 'Edsel', 'Audrey', 'Lonny', 'Clifton', 'Columbus',
       'Marc', 'Norval', 'Arnold', 'Travis', 'Lincoln', 'Amos', 'Perley',
       'Chris', 'Dick', 'Miles', 'Guillermo', 'Elliot'], dtype='<U32')

We turn the names of Petty Patty's roommates into the index.

In [7]:
# adding roommate names as indices to the dates data
df_dates.index = roommates

df_dates.head()

                         start_time                   end_time
Francis  2014-06-16 05:59:18.124965 2014-07-23 06:11:46.682402
Diego    2014-10-22 15:54:46.847032 2014-10-30 02:44:23.908393
Ruth     2014-01-30 21:28:40.418063 2014-03-26 18:53:49.595775
Garfield 2014-02-16 21:02:42.584248 2014-02-25 02:29:42.152930
Olga     2014-10-18 22:29:18.873309 2014-10-23 10:50:54.639351

We export the file into a csv for use.

In [8]:
# exporting to csv file
df_dates.to_csv('roommates.csv')

And we're done!